.console-container{
    width: 100%;
    height: 94%;
    margin: 5px;
    display: grid;
    grid-template-rows: 6fr 1fr;
}

.log-container{
    width: 85%;
    margin: auto;
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    overflow: scroll;
}

.log-text{
    padding: 0px;
    margin: 1px;
    margin-left: 5px;
}

.input-container{
    width: 85%;
    margin: auto;
}

.console-input{
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1rem;
    padding: 5px;
}