.horizon-container{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    background: #095C9B;
    background: linear-gradient(180deg,rgba(9, 92, 155, 0.88) 0%, rgba(9, 92, 155, 1) 49%, rgba(138, 44, 37, 1) 51%, rgba(138, 44, 37, 1) 100%);

}

.landscape{
    width: 100%;
    height: 100%;
    transform-origin: center center;
}

.landscape-item{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.landscape-top{
    background-color: #095c9b;
}

.landscape-bottom{
    border-top: 2px white solid;
    background-color: #8a2c25;
}

.indicator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.indicator-wing{
    height: 7px;
    width: 60px;
    background-color: #f3ff19;
    transform-origin: center center;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
}


.indicator-dot{
    height: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #f3ff19;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.tick{
    width: 10px;
    height: 2px;
    background-color: white;
}

.major{
    width: 20px;
}